/* Write your CSS here */
.con1 {
  background-color: #1c1c2b;
  width: 1000px;
  height: 450px;
  margin: 20px;
  padding: 20px;
  margin-bottom: 50px;
}

.con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  color: #94a3b8;
}
